/* Global styling */
html, body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box; 
}
.margin-sides {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

/* Background styling */
.background-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.background-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-path {
  stroke-dasharray: 4000; /* Adjust based on the length of your path */
  stroke-dashoffset: 4000;
  animation: draw-line 6s ease-out forwards;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  margin: 1rem 0 0 0;
  top: 0;
  padding: 1rem 0 1rem 1rem;
  width: 75%;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out; /* This will animate the changes */
  opacity: 1;
}
.fixed {
  position: fixed;
}
.glass {  
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

.navbar li {
  display: flex;
  text-align: center;
  
}

.nav-item {
  display: block;
  color: #1E1E1E;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  
}
.navbar li a:hover {
  color: #CA2E30;
} 

.navbar li button {
  padding : 16px 16px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar ul {
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar a, .navbar button, .navbar .logo {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.navbar.fade a, .navbar.fade button, .navbar.fade .logo {
  opacity: 0;
}
.navbar.glass a, .navbar.glass button, .navbar.glass .logo {
  opacity: 1;
}

/* CV button styling */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: #CA2E30;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* Home styling */
.home-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0 1rem 0 1rem;
  font-family: 'Josefin Sans', sans-serif;

}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home-paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: #1E1E1E;
  margin-bottom: 2rem;
  width: 20rem;
}
.black-rectangle {
  width: 80px;
  height: 8px;
  background-color: #1E1E1E;
}
.home-title-1 {
  font-size: 7rem;
  font-weight: 600;
  color: #1E1E1E;
  margin: 0 -5px; 
}
.home-title-2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1E1E1E;
  margin: 0.5rem 0;
}
.red-text {
  color: red; /* Replace 'red' with your red color */
}
.home-paragraph {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #1E1E1E;
  margin: 2.5rem 0;
}
.home-profile {
  position: absolute;
  right: 0;
  height: 750px;
  bottom: 0;
}
.profile-image {
  max-height: 100%; 
  object-fit: cover; 
}

/* About styling */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #1E1E1E;
}
.about-h1 {
  font-size: 4rem;
  font-weight: 400;
  color: white;
  margin: 0;
}

.about-p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2.25rem;
  color: #FFFCF2;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* Portfolio styling */
.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.portfolio-h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #1E1E1E;
  margin: 0;
  padding-bottom: 1rem;
}
.wrapper {
  width: auto;
  height: 50vh;
  display: flex;
  padding-top: 2rem;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  width: 100%;
}

.card {
  width: 9rem;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: flex-start;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  background-color: #1E1E1E;
}

.card > .row {
  color: #FFFCF2;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #CA2E30;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
  padding: 1rem;
  margin-top: 1rem;
}

.description p {
  color: #FFFCF2;
  padding-top: 5px;
  font-weight: 300;
  font-size: 1.25rem;
}

.description h4 {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

input {
  display: none;
}

input:checked + label {
  width: 100vw;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


.dockerbase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
